{{ 'section-content-tabs.css' | asset_url | stylesheet_tag }}
{{ 'content-tabs.js' | asset_url | script_tag }}

<div class="content-tabs-section color-background-1 background">
  <div class="content-tabs-section-padding">

    <div class="content-tabs__titles titles titles--center">
      <h2 class="content-tabs__title title h3">{{ section.settings.title }}</h2>
    </div>

    <div class="content-tabs__wrapper">
      <div class="content-tabs__tabs">
        <div class="content-tabs__tabs-wrapper content-tabs__tabs-wrapper--5 content-tabs__tabs-wrapper--equal">
          <div class="content-tabs__tab content-tabs__tab--active focus-inset" data-content-tab-id="#content-tab-tech-specs" tabindex="0">
            <span>Especificaciones Técnicas</span>
          </div>
          <div class="content-tabs__tab focus-inset" data-content-tab-id="#content-tab-description" tabindex="0">
            <span>Descripción</span>
          </div>
          <div class="content-tabs__tab focus-inset" data-content-tab-id="#content-tab-whats-included" tabindex="0">
            <span>Qué Incluye</span>
          </div>
          <div class="content-tabs__tab focus-inset" data-content-tab-id="#content-tab-battery-life" tabindex="0">
            <span>Duración de la Batería</span>
          </div>
          <div class="content-tabs__tab focus-inset" data-content-tab-id="#content-tab-requirements" tabindex="0">
            <span>Requisitos</span>
          </div>
        </div>
      </div>

      <!-- Tech Specs -->
      <div class="content-tabs__content content-tabs__content--2-column content-tabs__content--active animate left" data-content-tab-id="#content-tab-tech-specs">
        <div class="content-tabs__content-block">
          <h4 class="content-tabs__content-title">Dimensiones del Producto</h4>
          <div class="content-tabs__content-text rte rte__container"><p>1.77 in (45 mm) x 1.49 in (38 mm) x 0.37 in (9.50 mm)</p></div>
        </div>
        <div class="content-tabs__content-block">
          <h4 class="content-tabs__content-title">Período de Garantía</h4>
          <div class="content-tabs__content-text rte rte__container"><p>1 año de garantía limitada contra defectos del producto, vigente desde el momento de la entrega.</p></div>
        </div>
        <div class="content-tabs__content-block">
          <h4 class="content-tabs__content-title">Peso del Producto</h4>
          <div class="content-tabs__content-text rte rte__container"><p>0.35 oz (10 g)</p></div>
        </div>
        <div class="content-tabs__content-block">
          <h4 class="content-tabs__content-title">Alcance de Bluetooth</h4>
          <div class="content-tabs__content-text rte rte__container"><p>Hasta 500 ft (150 m)</p></div>
        </div>
        <div class="content-tabs__content-block">
          <h4 class="content-tabs__content-title">Resistencia al Agua</h4>
          <div class="content-tabs__content-text rte rte__container"><p>Clasificación IP66</p></div>
        </div>
        <div class="content-tabs__content-block">
          <h4 class="content-tabs__content-title">Dimensiones del Paquete</h4>
          <div class="content-tabs__content-text rte rte__container"><p>3.8 in x 4.2 in x 0.5 in (96 mm x 106 mm x 14 mm)</p></div>
        </div>
      </div>

      <!-- Description -->
      <div class="content-tabs__content content-tabs__content--2-column left" data-content-tab-id="#content-tab-description">
        <div class="content-tabs__content-block">
          <div class="content-tabs__content-text rte rte__container">
            <p>El <b>Pebblebee Clip 5</b> es un localizador de objetos Bluetooth compacto y versátil diseñado para ayudarte a mantener un seguimiento de tus objetos valiosos. Con su diseño duradero de clip, se adhiere fácilmente a llaveros, bolsas, equipaje o cualquier objeto que desees monitorear. Con una alerta audible fuerte, LEDs brillantes y un alcance extendido de Bluetooth, el Clip 5 asegura que puedas localizar rápidamente tus pertenencias usando tu smartphone. La función gratuita de seguridad personal <a href="/alert" title="Alert personal safety feature"><strong>Alert</strong></a> te ayuda a mantenerte seguro.</p>
            <p>Se integra perfectamente con las redes <b>Apple Find My</b> o <b>Google's Find Hub</b>, proporcionando compatibilidad amplia y cobertura global. La batería recargable ofrece una duración prolongada, lo que lo convierte en una solución ecológica y conveniente para el uso diario.</p>
          </div>
        </div>
      </div>

      <!-- What's Included -->
      <div class="content-tabs__content content-tabs__content--2-column left" data-content-tab-id="#content-tab-whats-included">
        <div class="content-tabs__content-block">
          <h4 class="content-tabs__content-title">Incluye</h4>
          <div class="content-tabs__content-text rte rte__container"><p>Pebblebee Clip 5</p></div>
        </div>
      </div>

      <!-- Duración de la Batería -->
      <div class="content-tabs__content content-tabs__content--2-column left" data-content-tab-id="#content-tab-battery-life">
        <div class="content-tabs__content-block">
          <h4 class="content-tabs__content-title">Duración de la Batería</h4>
          <div class="content-tabs__content-text rte rte__container"><p>Hasta 12 meses con una sola carga</p></div>
        </div>
        <div class="content-tabs__content-block">
          <h4 class="content-tabs__content-title">Tipo de Carga</h4>
          <div class="content-tabs__content-text rte rte__container"><p>USB-C (cable no incluido)</p></div>
        </div>
      </div>

      <!-- Requisitos -->
      <div class="content-tabs__content content-tabs__content--2-column left" data-content-tab-id="#content-tab-requirements">
        <div class="content-tabs__content-block">
          <h4 class="content-tabs__content-title">Requisitos Mínimos</h4>
          <div class="content-tabs__content-text rte rte__container"><p>Aplicación Apple Find My o Google Find Hub.<br>
Servicios de ubicación y Bluetooth activados.<br>
Se requiere servicio celular o conexión a internet.<br>
Funciona en Android 9+ y en ciertos países para usuarios con la edad requerida.</p></div>
        </div>
      </div>

    </div>
  </div>
</div>


{% schema %}
{
  "name": "Content Tabs",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Technical Specifications"
    }
  ],
  "presets": [
    {
      "name": "Content Tabs"
    }
  ]
}
{% endschema %}
