{{ 'section-content-tabs.css' | asset_url | stylesheet_tag }}
{{ 'content-tabs.js' | asset_url | script_tag }}

<div class="content-tabs-section color-background-1 background">
  <div class="content-tabs-section-padding">

    <div class="content-tabs__titles titles titles--center">
      <h2 class="content-tabs__title title h3">{{ section.settings.title }}</h2>
    </div>

    <div class="content-tabs__wrapper">
      <div class="content-tabs__tabs">
        <div class="content-tabs__tabs-wrapper content-tabs__tabs-wrapper--5 content-tabs__tabs-wrapper--equal">
          <div class="content-tabs__tab content-tabs__tab--active focus-inset" data-content-tab-id="#content-tab-tech-specs" tabindex="0">
            <span>Especificaciones</span>
          </div>
          <div class="content-tabs__tab focus-inset" data-content-tab-id="#content-tab-description" tabindex="0">
            <span>Descripción</span>
          </div>
          <div class="content-tabs__tab focus-inset" data-content-tab-id="#content-tab-whats-included" tabindex="0">
            <span>Qué incluye</span>
          </div>
          <div class="content-tabs__tab focus-inset" data-content-tab-id="#content-tab-battery-life" tabindex="0">
            <span>Batería</span>
          </div>
          <div class="content-tabs__tab focus-inset" data-content-tab-id="#content-tab-requirements" tabindex="0">
            <span>Requisitos</span>
          </div>
        </div>
      </div>

      <div class="content-tabs__content content-tabs__content--2-column content-tabs__content--active animate left" data-content-tab-id="#content-tab-tech-specs">
        <div class="content-tabs__content-block">
          <h4 class="content-tabs__content-title">Dimensiones del producto</h4>
          <div class="content-tabs__content-text rte rte__container"><p>45 mm x 38 mm x 9.50 mm (1.77 in x 1.49 in x 0.37 in)</p></div>
        </div>
        <div class="content-tabs__content-block">
          <h4 class="content-tabs__content-title">Periodo de garantía</h4>
          <div class="content-tabs__content-text rte rte__container"><p>Garantía limitada de 1 año contra defectos del producto, efectiva a partir del momento de la entrega.</p></div>
        </div>
        <div class="content-tabs__content-block">
          <h4 class="content-tabs__content-title">Peso del producto</h4>
          <div class="content-tabs__content-text rte rte__container"><p>10 g (0.35 oz)</p></div>
        </div>
        <div class="content-tabs__content-block">
          <h4 class="content-tabs__content-title">Alcance de Bluetooth</h4>
          <div class="content-tabs__content-text rte rte__container"><p>Hasta 150 m (500 ft)</p></div>
        </div>
        <div class="content-tabs__content-block">
          <h4 class="content-tabs__content-title">Resistencia al agua</h4>
          <div class="content-tabs__content-text rte rte__container"><p>Clasificación IP66</p></div>
        </div>
        <div class="content-tabs__content-block">
          <h4 class="content-tabs__content-title">Dimensiones del empaque</h4>
          <div class="content-tabs__content-text rte rte__container"><p>96 mm x 106 mm x 14 mm (3.8 in x 4.2 in x 0.5 in)</p></div>
        </div>
      </div>

      <div class="content-tabs__content content-tabs__content--2-column left" data-content-tab-id="#content-tab-description">
        <div class="content-tabs__content-block">
          <div class="content-tabs__content-text rte rte__container">
            <p>El <b>Pebblebee Clip 5</b> es un rastreador de objetos por Bluetooth compacto y versátil, diseñado para ayudarte a mantener localizados tus artículos valiosos. Gracias a su diseño duradero con clip, se engancha fácilmente a llaveros, bolsos, equipaje o cualquier objeto que desees monitorear. Con una alerta sonora fuerte, luces LED brillantes y un alcance Bluetooth extendido, el Clip 5 garantiza que puedas localizar rápidamente tus pertenencias usando tu smartphone. La función de seguridad personal gratuita <a href="/alert" title="Función de seguridad Alert"><strong>Alert</strong></a> ayuda a mantenerte a salvo.</p>
            <p>Se integra perfectamente con las redes&nbsp;<b>Apple Find My</b> o <b>Find Hub de Google</b>, proporcionando una amplia compatibilidad y cobertura global. La batería recargable ofrece una energía de larga duración, lo que lo convierte en una solución ecológica y conveniente para el uso diario.</p>
          </div>
        </div>
      </div>

      <div class="content-tabs__content content-tabs__content--2-column left" data-content-tab-id="#content-tab-whats-included">
        <div class="content-tabs__content-block">
          <h4 class="content-tabs__content-title">Incluye</h4>
          <div class="content-tabs__content-text rte rte__container"><p>Pebblebee Clip 5</p></div>
        </div>
      </div>

      <div class="content-tabs__content content-tabs__content--2-column left" data-content-tab-id="#content-tab-battery-life">
        <div class="content-tabs__content-block">
          <h4 class="content-tabs__content-title">Duración de la batería</h4>
          <div class="content-tabs__content-text rte rte__container"><p>Hasta 12 meses con una sola carga</p></div>
        </div>
        <div class="content-tabs__content-block">
          <h4 class="content-tabs__content-title">Tipo de carga</h4>
          <div class="content-tabs__content-text rte rte__container"><p>USB-C (cable no incluido)</p></div>
        </div>
      </div>

      <div class="content-tabs__content content-tabs__content--2-column left" data-content-tab-id="#content-tab-requirements">
        <div class="content-tabs__content-block">
          <h4 class="content-tabs__content-title">Requisitos mínimos</h4>
          <div class="content-tabs__content-text rte rte__container"><p>App Apple Find My o Google Find Hub.<br>
Servicios de ubicación y Bluetooth activados.<br>
Requiere servicio de telefonía celular o conexión a internet.<br>
Funciona en Android 9+ y en ciertos países para usuarios que cumplan con la edad mínima requerida.</p></div>
        </div>
      </div>

    </div>
  </div>
</div>


{% schema %}
{
  "name": "Pestañas de Contenido",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Título",
      "default": "Especificaciones Técnicas"
    }
  ],
  "presets": [
    {
      "name": "Pestañas de Contenido"
    }
  ]
}
{% endschema %}